@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}

* {
    scrollbar-width: thin;
    scrollbar-color: #00C7D5 #1F242D;
  }
  
  *::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #1F242D;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #1F242D;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #1F242D;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #00C7D5;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #009EA9;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #00C7D5;
  }


body {
    scroll-behavior: smooth;
    background: hsl(219, 18%, 15%);
    background: linear-gradient(90deg, hsla(219, 18%, 15%, 1) 0%, hsla(0, 5%, 7%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(219, 18%, 15%, 1) 0%, hsla(0, 5%, 7%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(219, 18%, 15%, 1) 0%, hsla(0, 5%, 7%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1F242D", endColorstr="#141212", GradientType=1 );
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5));
    background-clip: padding-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop .7s ease forwards;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-img img {
    /* max-width: max-content; */
    margin-right: -20px;
    border-radius: 40px;
    opacity: 0;
    animation: zoomIn 5s ease forwards, floatImage 4s ease-in-out infinite;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: .1s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .1s;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .1s;
}

.home-content {
    max-width: 600px;
    animation: zoomIn 1s ease forwards, floatImageInverse 4s ease-in-out infinite;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));

}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 5px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 3px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: calc(.7s * var(--i));
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes floatImageInverse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #101216a6;
}

.about-img img {
    border-radius: 40px;
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1rem;
    margin: 2rem 0 3rem;
    max-width: 700px;
}

/* Services */

.services {
    padding: 40px 0;
    height: 80vh;
    background: #101216e5;
}

.services h2 {
    margin: 50px 0;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-box {
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    width: 400px;
    height: min-content;
    background: #242627;
    border: 1px solid #009EA9;
}

.services-box i {
    font-size: 100px;
    color: #0ef;
}

.services-box a {
    margin: 20px 0;
}

.services-box h3 {
    margin: 10px 0;
    font-size: 30px;
}

.services-box p {
    font-size: small;
}

/* PORTFOLIO SECTION */

.portfolio {
    padding: 100px 0;
    background: #0a0b0eb4;
}

.portfolio-layer p {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.portfolio-layer h4 {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.portfolio-container{
    padding: 0 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 27px;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-box {
    padding: 15px;
    width: min-content;
    background: #181d2bda;
    border-radius: 15px;
}

.portfolio-box img {
    width: 340px;
    border-radius: 15px;
}

.work-progress {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.work-progress i {
    color: #22C35D;
    margin-right: 10px;
}

.work-progress p {
    font-size: 14px;
}

.programming-language {
    display: flex;
    flex-wrap: wrap;
}

.programming-language p {
    margin-right: 10px;
    margin-bottom: 10px;
    background: #2b3d66;
    padding: 3px 10px;
    text-align: center;
    border-radius: 20px;
}

.view-code {
    margin-top: 5px;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 0px;
}

.view-code  i {
    font-size: 20px;
    background: #2b3d66;
    text-align: center;
    padding: 10px 5px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.view-code a {
    text-decoration: none;
    color: #fff;
}

/*  Section: Contact-Me */

.contact-me {
    background: #0104138e;
    padding: 100px 0;
}

.contact-container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact-left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.contact-right{
	padding: 25px 40px;
}

.contact-right h2{
    color: #182646;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact-right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #182646;
}

.contact-field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.contact-field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.contact-btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #182646;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.contact-btn:hover{
    background-color: #182646;
}

.contact-field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.contact-left{
		height: 200px;
	}
}